.ui.borderless.topmenu.menu {
  box-shadow: none;
}

.firstrow{
  background-color: #006241;
  text-align: center;
  color: white;
}

.secondrow{
  background-color: white;
  padding-right: 20px;
}

.thirdrow{
  background-color: #DFECE5;
  color: #006241;
  font-size: 50px;
  text-align: center;
  padding: 35px 20px;
  margin: 5px;
}

.ui.borderless.bottommenu.menu{
  box-shadow: none;
  border: none;
}

.footer-background{
  box-shadow: none;
  border: none;
  padding: 20px;
  font-size: 15px;
}
